<div class="p-3">
    <div class="display-1 mb-3 "><b> Car</b></div>
    <div class="display-6 mb-3"> {{make}}</div>
    <div class=" mb-1"> <b>model:</b> {{model}}</div>
    <div class=" mb-1"><b>year:</b>{{year}}</div>
    <div class=" mb-1"><b>color:</b> {{color}}</div>
    <hr>
    {{#with features}}
    {{#with interior}}
    {{#with seats}}
    <div class="display-5 mb-3  ">Features</div>
    <div class=" mb-1"><b>material:</b> {{material}}</div>
    <div class=" mb-1"><b><i>color:</i></b> {{color}}</div>
    <div class=" mb-1"><b><i>heated:</i></b> {{heated}}</div>
    <div class=" mb-1"><b><i>ventilated:</i></b> {{ventilated}}</div>
    <hr>
    {{/with}}
    {{#with dashboard}}
    <div class="display-5 mb-3  ">Dashboard</div>
    <div class=" mb-1"><b><i>material:</i></b> {{material}}</div>
    <div class=" mb-1"><b><i>color:</i></b> {{color}}</div>
    <hr>
    {{#with display}}
    <div class="display-5 mb-3  ">Display</div>
    <div class=" mb-1"><b><i>type:</i></b> {{type}}</div>
    <div class=" mb-1"><b><i>size:</i></b> {{size}}</div>
    <div class=" mb-1"><b><i>resolution:</i></b> {{resolution}}</div>
    <div class=" mb-1"><b><i>touchscreen: </i></b>
        {{#if touchscreen}} <button class="btn btn-primary">Yep</button> {{/if}}</div>
    <hr>
    {{/with}}
    {{/with}}
    {{#with audio}}
    <div class="display-5 mb-3  ">Audio</div>
    <div class=" mb-1"><b><i>system:</i></b> {{system}}</div>
    <div class=" mb-1"><b><i>speakers:</i></b> {{speakers}}</div>
    <div class=" mb-2"><b><i>subwoofer: </i></b>{{#if subwoofer}}<button class="btn btn-info">yep</button> {{/if}}
    </div>
    <div class=" mb-2"><b><i>bluetooth: </i></b>{{#if bluetooth}}<button class="btn btn-success">yep</button> {{/if}}
    </div>
    <div class=" mb-2"><b><i>USB: </i></b>{{#if USB}} <button class="btn btn-warning">yep</button>{{/if}}</div>
    <hr>
    {{/with}}
    {{/with}}
    {{#with exterior}}
    {{#with wheels}}
    <div class="display-5 mb-3  ">Wheels</div>
    <div class=" mb-1"><b><i>size: </i></b>{{size}}</div>
    <div class=" mb-1"><b><i>type: </i></b>{{type}}</div>
    <div class=" mb-1"><b><i>color: </i></b>{{color}}</div>
    <hr>
    {{/with}}
    {{#with headlights}}
    <div class="display-5 mb-3  ">Headlights</div>
    <div class=" mb-1"><b><i>type: </i></b>{{type}}</div>
    <div class=" mb-1"><b><i>brightness: </i></b>{{brightness}}</div>
    <div class=" mb-1"><b><i>automatic: </i></b>{{automatic}}</div>
    <hr>
    {{/with}}
    {{#with sunroof}}
    <div class="display-5 mb-3  ">Sunroof</div>
    <div class=" mb-1"><b><i>type: </i></b>{{type}}</div>
    <div class=" mb-1"><b><i>size: </i></b>{{size}}</div>
    <div class=" mb-1">{{#if automatic}} <b><i>automatic:</i></b>yes{{/if}}</div>
    <hr>
    {{/with}}
    {{/with}}
    {{#with safety}}
    {{#with airbags}}
    <div class="display-5 mb-3  ">Airbags </div>
    <div class=" mb-1"><b><i>front: </i></b>{{front}}</div>
    <div class=" mb-1"><b><i>size: </i></b>{{side}}</div>
    <div class=" mb-1"><b><i>knee: </i></b>{{knee}}</div>
    <div class=" mb-1"><b><i>rear: </i></b>{{rear}}</div>
    <hr>
    {{/with}}
    {{#with assistance}}
    <div class="display-5 mb-3  ">Assistance</div>
    <div class=" mb-2"><b><i>blind spot monitoring: </i></b>{{#if blind_spot_monitoring}} <button
            class="btn btn-warning">
            ops</button>{{/if}}
    </div>
    <div class=" mb-2"><b><i>rear cross traffic alert: </i></b>{{#if rear_cross_traffic_alert}}
        <button class="btn btn-warning">opss</button>{{/if}}
    </div>
    <div class=" mb-2"><b><i>lane departure warning: </i></b>{{#if lane_departure_warning}}<button
            class="btn btn-warning">
            opsss</button>{{/if}}</div>
    <div class=" mb-2"><b><i>adaptive cruise control: </i></b>{{#if adaptive_cruise_control}}
        <button class="btn btn-warning">opssss</button>{{/if}}
    </div>
    <div class=" mb-2"><b><i>collision warning: </i></b>{{#if collision_warning}} <button class="btn btn-warning">
            opsssss</button>{{/if}}</div>
    <hr>
    {{/with}}
    {{/with}}
    {{/with}}
    {{#with engine}}
    <div class="display-5 mb-3  ">Engine</div>
    <div class=" mb-2"><b><i>type: </i></b>{{type}}</div>
    <div class=" mb-2"><b><i>displacement: </i></b>{{displacement}}</div>
    <div class=" mb-2"><b><i>horsepower: </i></b>{{horsepower}}</div>
    <div class=" mb-2"><b><i>torque: </i></b>{{torque}}</div>
    <hr>
    {{#with transmission}}
    <div class="display-5 mb-3  ">Transmission</div>
    <div class=" mb-2"><b><i>type: </i></b>{{type}}</div>
    <div class=" mb-2"><b><i>gears: </i></b>{{gears }}</div>
    <hr>
    {{/with}}
    {{/with}}
    {{#with fuel_economy}}
    <div class="display-5 mb-3  ">Fuel economy</div>
    <div class=" mb-2"><b><i>city: </i></b>{{city}}</div>
    <div class=" mb-2"><b><i>highway: </i></b>{{highway}} </div>
    <div class=" mb-2"><b><i>combined: </i></b>{{combined}}</div>
    <hr>
    {{/with}}
    {{#with price}}
    <div class="display-5 mb-3  ">Price</div>
    <div class=" mb-2"><b><i>base: </i></b>{{base}}</div>
    <div class=" mb-2"><b><i>destination: </i></b>{{destination}}</div>
    <hr>
    {{#with options}}
    <div class="display-5 mb-3  ">Options</div>
    <div class=" mb-2"><b><i>navigation: </i></b>{{navigation}}</div>
    <div class=" mb-2"><b><i>moonroof: </i></b>{{moonroof}}</div>
    <div class=" mb-2"><b><i>premium_paint: </i></b>{{premium_paint}}</div>
    <hr>
    {{/with}}
    <h1><i>Price:<u>{{total}}</i></u></h1>
    {{/with}}
</div>