<h1>{{name}}</h1>

<h2>Users:</h2>

{{#each users}}

<h3>{{name}}</h3>
id:{{id}}
<br>
gender:{{gender}}
<br>
age:{{age}}

<h3>Friends</h3>
{{#each friends}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>

<h3>Mutual friends:</h3>
{{#each mutual_friends}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
{{/each}}
{{/each}}
<h3>Groups:</h3>
{{#each groups}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        description:{{description}}
    </li>
</ul>
<h3>Members:</h3>
{{#each members}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
{{/each}}
{{/each}}
<hr>
<h3>{{name}}</h3>
<br>
id:{{id}}
<br>
name:{{name}}
<br>
gande:{{gender}}
<br>
age:{{age}}

<h3>Friends:</h3>
{{#each friends}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
<h3>Mutual friends:</h3>
{{#each mutual_friends}}
<ul>
    <il>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </il>
</ul>

<h3>Mutual friends:</h3>
{{#each mutual_friends}}
<ul>
    <il>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </il>
</ul>
{{/each}}
{{/each}}
<h3>Groups:</h3>
{{#each groups}}
<ul>
    <il>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        description:{{description}}
    </il>
</ul>
<h3>Member</h3>
{{#each members}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
{{/each}}
{{/each}}
{{/each}}
{{/each}}