<h1>{{name}}</h1>
<h2>Users:</h2>
{{#each users}}
<hr>
<h3>{{name}}</h3>
id:{{id}}

<br>
{{gender}}
<br>
{{age}}
<hr>
{{#each friends}}

<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
<h3>Mutual friends:</h3>
{{#each mutual_friends}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
{{#each mutual_friends}}
<h3>Mutual friends:</h3>
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>


{{/each}}
{{#each groups}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        description:{{description}}
    </li>
</ul>
<h3>Members:</h3>
{{#each members}}
<ul>
    <li>
        id:{{id}}
        <br>
        name:{{name}}
        <br>
        gande:{{gender}}
        <br>
        age:{{age}}
    </li>
</ul>
{{/each}}
{{/each}}
{{/each}}