<div class="display-1 text-center mb-3 "><b>{{name}}</b></div>
<div class="display-3 mb-3 ">Users:</div>
<ul>
    {{#each users}}
    <hr>
    <div class="display-6 mb-3 "><u>{{name}}</u></div>
    <p class=" mb-1"><b>id:</b>{{id}}</p>
    <p class=" mb-1"><b>gender:</b>{{gender}}</p>
    <p class=" mb-3"><b>age:</b>{{age}}</p>
    <div class="display-6 mb-3 ">Friends</div>
    <ul>
        {{#each friends}}
        <li>
            <p class=" mb-1"><b>id:</b>{{id}}</p>
            <p class=" mb-1"> <b>name:</b>{{name}}</p>
            <p class=" mb-1"><b>gender:</b>{{gender}}</p>
            <p class=" mb-1"><b>age:</b>{{age}}</p>
        </li>
        <ul>
            <ul>
                <div class="display-6 mb-3 ">Mutual friends:</div>
                {{#each mutual_friends}}
                <li>
                    <p class=" mb-1"><b>id:</b>{{id}}</p>
                    <p class=" mb-1"> <b>name:</b>{{name}}</p>
                    <p class=" mb-1"><b>gender:</b>{{gender}}</p>
                    <p class=" mb-1"><b>age:</b>{{age}}</p>
                </li>
                {{#if mutual_friends}}
                <div class="display-6 mb-3 ">Mutual friends:</div>
                <ul>
                    {{#each mutual_friends}}
                    <li>
                        <p class=" mb-1"><b>id:</b>{{id}}</p>
                        <p class=" mb-1"> <b>name:</b>{{name}}</p>
                        <p class=" mb-1"><b>gender:</b>{{gender}}</p>
                        <p class=" mb-3"><b>age:</b>{{age}}</p>
                    </li>
                    {{/each}}
                </ul>
            </ul>
        </ul>
        {{/if}}
        </li>
        {{/each}}
    </ul>
    {{#if groups}}
    <div class="display-6 mb-3 ">Groups:</div>
    <ul>
        {{#each groups}}
        <li>
            <p class=" mb-1"><b>id:</b>{{id}}</p>
            <p class=" mb-1"> <b>name:</b>{{name}}</p>
            <p class=" mb-1"> <b>description:</b>{{description}}</p>
            <ul>
                <div class="display-6 mb-3 ">Member</div>
                {{#each members}}
                <li>
                    <p class=" mb-1"><b>id:</b>{{id}}</p>
                    <p class=" mb-1"> <b>name:</b>{{name}}</p>
                    <p class=" mb-1"><b>gender:</b>{{gender}}</p>
                    <p class=" mb-3"><b>age:</b>{{age}}</p>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>

    {{/if}}
    </li>
    {{/each}}

    {{#if groups}}
    <div class="display-6 mb-3 ">Groups</div>
    <ul>
        {{#each groups}}
        <li>
            <p class=" mb-1"><b>id:</b>{{id}}</p>
            <p class=" mb-1"> <b>name:</b>{{name}}</p>
            <p class=" mb-1"> <b>description:</b>{{description}}</p>
        </li>
    </ul>
    <div class="display-6 mb-3 ">Member</div>
    {{#each members}}
    <ul>
        <li>
            <p class=" mb-1"><b>id:</b>{{id}}</p>
            <p class=" mb-1"> <b>name:</b>name:{{name}}</p>
            <p class=" mb-1"><b>gender:</b>{{gender}}</p>
            <p class=" mb-3"><b>age:</b>{{age}}</p>
        </li>
    </ul>
    {{/each}}
    {{/each}}
    {{/if}}
    {{/each}}
</ul>