<div class="p-3">
    <h1 class="text-center">{{name}}</h1>
    <div class="display-6  mb-3 ">Description</div>
    <p class=" mb-1">{{description}}</p>
    <hr>
    <div class="display-6  mb-3 ">History</div>

    {{#with history}}
    <div class="mb-2">
        <p class=" mb-1"><b>year:</b>{{year}}</p>
        <p class=" mb-1"><b>founder:</b> {{founder}}</p>
    </div>
    {{/with}}
    <hr>
    <div class="display-6  mb-3 ">Types</div>
    <ul>
        {{#each types}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <div class="display-6  mb-3 ">Syntax</div>
    {{#with syntax}}
    <p class=" mb-2"><i><u>variables:</u></i> {{variables}}</p>
    <p class=" mb-2"><i><u>functions:</u></i> {{functions}}</p>
    <p class=" mb-2"><i><u>conditionals:</u></i> {{conditionals}}</p>
    <p class=" mb-2"><i><u>loops:</u></i> {{loops}}</p>
    <p class=" mb-2"><i><u>classes:</u></i> {{classes}}</p>
    {{/with}}
    <hr>
    <div class="display-6  mb-3 ">Features</div>
    <ul>
        {{#each features}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <div class="display-6  mb-3 ">Libraries</div>
    <ul>
        {{#each libraries}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <div class="display-6  mb-3 ">Tools</div>
    <ul>
        {{#each tools}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <hr>
    <div class="display-6  mb-3 ">Community</div>
    {{#each community}}
    <p class=" mb-2"><b>name:</b>{{name}}</p>
    <p class=" mb-4"><b>type:</b>{{type}}</p>
    {{/each}}
</div>