<div class="p-5">

    <div class="display-5 mb-3 text-center">{{name}}</div>
    <div class="col-12">
        <div class="alert alert-success">
            <div class="text text-center mb-1"><b>description:</b> {{description}}</div>
            <div class="text text-center mb-1"><b>price:</b> {{price}}</div>
            <div class="text text-center mb-1"><b>category:</b> {{category}}</div>
        </div>
    </div>
    {{#with features}}
    {{#with processor}}
    <div class="row">
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header"> <u>Processor</u></div>
                <b>brand:</b> {{brand}}
                <b>model:</b> {{model}}
                <b>speed:</b> {{speed}}
                <b>cores:</b> {{cores}}
                <b>cache:</b> {{cache}}
            </div>
        </div>

        {{/with}}
        {{#with memory}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Memory</div>
                <b>type:</b> {{type}}
                <b>size:</b> {{size}}
                <b>speed:</b> {{speed}}
            </div>
        </div>
        {{/with}}
        {{#with storage}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Storage</div>
                <b>type:</b> {{type}}
                <b>size:</b> {{size}}
            </div>
        </div>
        <hr>
        {{/with}}
        {{#with display}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Display</div>
                <b>size:</b>{{size}}
                <b>resolution:</b> {{resolution}}
                <b>technology:</b> {{technology}}
                <b>color_space:</b> {{color_space}}
                <b>brightness:</b> {{brightness}}
                <b>refresh_rate:</b> {{refresh_rate}}
            </div>
        </div>
        {{/with}}
        {{#with graphics}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Graphics</div>
                <b>brand:</b> {{brand}}
                <br>
                <b>model:</b> {{model}}
                <br>
                <b>memory:</b> {{memory}}
            </div>
        </div>

        {{/with}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Ports</div>
                {{#each ports}}
                <b>type:</b> {{type}}
                <br>
                <b>count:</b> {{count}}
                {{#each features}}
                <li>{{this}}</li>
                {{/each}}
                {{/each}}
            </div>
        </div>
        <hr>
        {{#with battery}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Battery</div>
                <b>type:</b> {{type}}
                <b>capacity:</b> {{capacity}}
                <b>life:</b> {{life}}
                {{/with}}
                <b>weight:</b> {{weight}}
            </div>
        </div>
        {{#with dimensions}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Dimensions</div>
                <b>height:</b> {{height}}
                <b>width:</b> {{width}}
                <b>depth:</b> {{depth}}
            </div>
        </div>
        {{/with}}
        <div class="col-4 mb-2">
            <div class="card text-bg-primary mb-1 p-2">
                <div class="card-header">Operating system</div>
                {{operating_system}}
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="alert alert-success">
                <h2 class="text text-center"><u>Accessories</u></h2>
                {{#each accessories}}

                <p class="text text-center">{{name}}</p>
                <p class="text text-center"><b>price: $</b>{{price}}</p>

                {{/each}}
                {{/with}}
            </div>
        </div>
    </div>
</div>