<main class="p-1">
    <div class="row">
        <div class="card mb-3">
            <div class="col-12">
                <div class="nav nav-tabs">
                    {{#with navigation}}
                    {{#each links}}
                    <div class="nav-item">
                        <a href="{{href}}" class="btn btn-link">{{text}}</a>
                    </div>
                    {{/each}}
                    <div class="nav-item">
                        <a class="btn btn-disabled">Bank</a>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
        <div>
            {{#with newsBlock}}
            <div class="display-2 text-center">{{title}}</div>
            <div class="row">
                {{#each cards}}
                <div class="col-6 mb-2">
                    <div class="card text-bg-dark mb-1">
                        <div class="card-body mb-2">
                            <div class="card-header">{{title}}
                                <span class="badge text-bg-success rounded-pill text-capitalize">{{#if isTop}}
                                    Нова{{/if}}</span>
                                <span class="badge text-bg-danger rounded-pill text-capitalize">{{#if isNew}}
                                    Топ{{/if}}</span>
                            </div>
                            {{description}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
        <hr>
        <div>
            {{#with goodsBlock}}
            <div class="nav nav-tabs">
                {{#each tabs}}
                <ul class="nav-item">
                    <li href="#" class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">
                        {{text}}</li>
                </ul>
                {{/each}}
            </div>
            <div class="row">
                {{#each cards}}
                <div class="col-6 mb-2 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                            <p>
                                {{title}}
                                <span class="badge text-bg-warning rounded-pill text-capitalize">{{#if isHot}}
                                    HOT{{/if}}</span>
                                <span class="badge text-bg-primary rounded-pill text-capitalize">{{#if isNew}}
                                    New{{/if}}</span>
                            </p>
                            <div>{{description}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
        <hr>
        <div>
            <div class="col-12">
                <div class="alert alert-dark">
                    {{#with subscribe}}
                    <h2>{{header}}</h2>
                    <p class="mb-2">{{description}}</p>
                    {{#each buttons}}
                    <section class="col-3 mb-2">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </section>
                    {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="col-12">
                <div class="alert alert-success">
                    {{#with service}}
                    <h2 class="text text-center">{{title}}</h2>
                    <p class="text text-center"> {{description}}</p>
                    {{#each buttons}}
                    <section class="text text-center">
                        <a href="{{link}}" class="btn btn-primary center">{{text}}</a>
                    </section>
                    {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            {{#each footer}}
            <div class="nav col-2">
                <div>
                    {{#each this}}
                    <section>
                        <div>
                            <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                        </div>
                    </section>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</main>
