<div class="p-2">
    {{#with web}}
    {{#each languages}}
    {{name}}
    <br>
    {{version}}
    <br>
    {{description}}
    <hr>
    <br>
    {{#each elements}}
    <br>
    {{name}}
    <br>
    {{description}}
    <br>
    <hr>
    {{#each attributes}}
    <br>
    {{name}}
    <br>
    {{description}}
    {{/each}}
    <hr>
    {{name}}
    <br>
    {{description}}
    <hr>
    {{#each attributes}}
    {{name}}
    <br>
    {{description}}
    <hr>
    {{/each}}
    {{/each}}
    <hr>
    <br>
    {{name}}
    <br>
    {{version}}
    <br>
    {{description}}
    <hr>
    {{#each properties}}
    <br>
    {{name}}
    <br>
    {{description}}
    <hr>
    {{#each values}}
    {{value}}
    <br>
    {{description}}
    <hr>
    {{/each}}
    {{/each}}
    {{name}}
    {{version}}
    {{description}}
    <hr>
    {{#each functions}}
    <br>
    {{name}}
    <br>
    {{description}}
    <hr>
    {{#each parameters}}
    <br>
    {{name}}
    <br>
    {{type}}
    <br>
    {{description}}
    <hr>
    {{/each}}
    {{/each}}
    <hr>
    <br>
    {{name}}
    {{description}}
    {{#each parameters}}
    {{name}}
    {{type}}
    {{description}}
    {{/each}}
    {{/each}}
    {{/with}}
</div>