<div class="p-3">
    {{#with web}}
    <div class="display-1 text-center mb-3 ">Web</div>
    {{#each languages}}
    <div class="display-5 mb-3 ">Language</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>version:</b>{{version}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{#each elements}}
    <div class="display-5 mb-3 ">Elements</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1">{{description}}</div>
    <hr>
    {{#each attributes}}
    <div class="display-5 mb-3 ">Attributes</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-3"><b>description:</b>{{description}}</div>
    {{/each}}
    <div class="display-5 mb-3 ">Attributes</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{#each attributes}}
    <div class="display-5 mb-3 ">Attributes</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{/each}}
    {{/each}}
    <div class="display-5 mb-3 ">Attributes</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>version:</b>{{version}}</div>
    <div class=" mb-3"><b>description:</b>{{description}}</div>
    {{#each properties}}
    <div class="display-5 mb-3 ">Properties</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{#each values}}
    <div class="display-5 mb-3 ">Values</div>
    <div class=" mb-1"><b>value:</b>{{value}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{/each}}
    {{/each}}
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>version:</b>{{version}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{#each functions}}
    <div class="display-5 mb-3 ">Functions</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    <hr>
    {{#each parameters}}
    <div class="display-5 mb-3 ">Parameters</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>type:</b>{{type}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>

    {{/each}}
    {{/each}}
    <div class="display-5 mb-3 ">Parameters</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-5"><b>description:</b>{{description}}</div>
    {{#each parameters}}
    <div class="display-5 mb-3 ">Parameters</div>
    <div class=" mb-1"><b>name:</b>{{name}}</div>
    <div class=" mb-1"><b>type:</b>{{type}}</div>
    <div class=" mb-1"><b>description:</b>{{description}}</div>
    {{/each}}
    {{/each}}
    {{/with}}
</div>